<div class="background"></div>
<div class="circle2"></div>
<div class="circle3"></div>
<div class="circle4"></div>
<div class="circle1"></div>
<div class="circle5">
    <img src="assets/image/logo.png" alt="">
</div>


<div class="login">
    <h1 class="email">Email</h1>
    <h1 class="pwd">Password</h1>
    <h1 class="forgot">Forgot password?</h1>
    <div class="login2">
       <img src="assets/image/person2.png" alt="">
    </div>
    <div class="input">
        <input type="text" name="" placeholder="">
        <img src="assets/image/mail.png" alt="">
    </div>

    <div class="input2">
        <input type="text" name="" placeholder="">
        <img src="assets/image/lock.png" alt="">
    </div>
    <button>Login</button>
</div>
